body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0;
    font-weight: 50px;
}
