body {
    background-color: lightgray;
}
 header{
    width: 500px;
    margin: 20px auto 20px;
    padding: 20px;
    background-image: linear-gradient(to right, blue, purple) ;
    color: white;
 }
 footer {
    border: blue solid 10px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
 }